[submodule "ext/benchmark"]
	path = ext/benchmark
	url = https://github.com/google/benchmark.git
[submodule "ext/libibverbscpp"]
	path = ext/libibverbscpp
	url = https://github.com/pfent/libibverbscpp.git
