[submodule "include/libibverbscpp"]
	path = include/libibverbscpp
	url = https://github.com/pfent/libibverbscpp.git
[submodule "include/benchmark"]
	path = include/benchmark
	url = git@github.com:google/benchmark.git
